:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  background-color: rgb(69, 3, 25);
  border-bottom: 2px solid red;
}
.navBar div{
  padding: 10px 20px;
  border-radius: 6px;
}
.navBar div a {
  text-decoration: none;
  color: white;
}

.navBar div a:hover {
  background-color: white;
  color: #333;
}

.navBar div:hover {
  background-color: white;
  color: #333;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.product-card {
  background: #333;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  /* border: 1px solid red; */
  height: 450px;
}
.img img {
  display: flex;
  align-items: center;
  width: 50%;
  height: auto;
  
  /* border-radius: 8px; */
}

.img{
  display: flex;
  justify-content: center;
}
.product-card h2 {
  font-size: 0.875rem;
}
.product-card p {
  margin: 0.5rem 0;
}
.product-card .price {
  font-weight: bold;
  color: #61dafb;
}
.product-description {
  /* font-size: 0.9rem; */
  color: #ccc;
  max-height: 10%;
  overflow-y: scroll;
}